doctype html
html(lang="en")
    head
        include parcials/header
    body.login 
        .contenedor-formulario 

            h1= nombrePagina 
            p Agrega tu e-mail para reestablecer la contraseña
            
            if locals.mensajes
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)  
                                p= error

            form.caja-login(method='POST' action='/reestablecer')
                .campo 
                    label(for='email') E-mail: 
                    input(type='email' name='email' placeholder='Tu email' value= email)
                .campo.enviar
                    input.bot(type='submit' value='Reestablecer Password')
                .campo.acciones
                    a(href='/iniciar-sesion') Ya lo recorde, volver a Login