doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css

    body
        h2 Reestablecer Password 
        p Hola, has solicitado reestablecer tu password, has click en el siguiente enlace para reestablecerlo, este enlace es temporal, asi que si vence vuelve a solicitarlo 
        a(href=`${resetUrl}`) Ir a Resetear el Password 
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo 
